:root{
    --primary-brand:#4D5AE5;
    --dark: #2E2F42;
    --success:#31D0AA;
    --hero-background:#2E2F42;
    --light:#F4F4FD;
    --white-background:#FFFFFF;
    --text:#434455;
    --subtle-text:#8E8F99;
    --avctive:#404BBF;
    --accent:#E7E9FC;
    --modal-overlay:#2E2F42;
    --modal-background:#FCFCFC;
}

   html {
    box-sizing: border-box;
   }
   *::before,
   *::after{
    box-sizing: inherit;
   }
}
body {

    font-family: 'Roboto', sans-serif;
    background: var(--white-background);
    color: var(--text);
}
.container {
    width: 1158px  ;
    padding: 0 15px;
    margin: 0 auto;
}
.content-body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
   
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 76px;

    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase
    
}
.navigation {
    display: flex;;
}
.nav-item {
    font-weight: 500;
line-height: 1.50;
letter-spacing: 0.02em;}
.adress {
    font-style: normal;
}
.adress-link {
line-height: 1.50;
letter-spacing: 0.02em;
color:var(--text);
}


.title-list {
    font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color:var(--hero-background)
}
.text-list {
line-height: 1.50;
letter-spacing: 0.02em;
color:var(--text)
}
.titles {
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--dark)
}
/* Header */
.header-container {
    display: flex;
    align-items: center;
   
}

.header-list {
    display: flex;
    padding: 0;
    width: calc((1128+3*24)/7);
    gap: 40px   ;
}
.navigation-item{
    padding-top: 24px;
    padding-bottom: 24px;   
}
.header-list .navigation-item:not(:last-child){
    margin-right: 40px;
}

.first-logo {
color:var(--primary-brand);
}
.second-logo{
    color: var(--dark);
}
.link-list {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--dark);
}
.adress {
    margin-left:auto;
}
.adress-list {
    display: flex;
    gap: 40px;
    padding: 0;

}

.navigation-item :hover,
.navigation-item :focus {
 color:var(--avctive)

}

.adress-list-item :hover,
.adress-list-item :focus {
    color:var(--avctive)
}
.visually-hiden{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Hero */ 
.hero-title{

}
   

 .hero {
    background-color: var(--hero-background);
 }
 .hero-title {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--white-background);
 }
 .btn-hero {
    font-family: inherit;
font-weight: 500;
font-size: 16px;    
line-height: 1.50;
letter-spacing: 0.04em;
color: var(--white-background);
background-color: var(--primary-brand);
cursor: pointer;

 }
 .btn-hero:hover,
 .btn-hero:focus {
background-color: var(--avctive)
 }
/* Advances */
.advances-list {
    display: flex;
 justify-content: center;
 margin-left: 24px;
}

/* benefits */
.benefits-list{
    display: flex;
    justify-content: center;
}

/* Users */
.users-list{   
    display: flex;
    justify-content: center;
}
.users {
    background:var(--light);
}
.users-item {
    background: var(--white-background);
}

/* Footer */
.footer-first-logo {
    color:var(--primary-brand)
}
    .footer-second-logo {
        color:var(--light)
    }
    .footer {
        background: var(--hero-background);
    }
    .footer-text {
color:var(--light)
    }
/* button content */
.content-button {
    font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.04em;
color:var(--primary-brand);
background:var(--light);
cursor:pointer;
}
.content-button:hover,
.content-button:focus {
    color: var(--white-background);
    background:var(--avctive);
}
